<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABSA - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="display: flex; min-height: 100vh; flex-direction: column;">
<div class="ui menu">
    <div class="header item">
        ABSA
    </div>
</div>
<div class="ui container" style="flex: 1;">
    {% block content %}{% endblock %}
</div>
<div class="ui inverted vertical footer segment">
    <div class="ui container center header">
        BMSTU {% now 'Y' %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>