{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Sessions{% endblock %}

{% block extra_js %}
    <script src="{% static '/libs/tablesort/tablesort.min.js' %}"></script>
    <script>
        $('table').tablesort();
    </script>
{% endblock %}

{% block content %}
    <h3 class="ui block header">
        Train sessions
    </h3>

    {% for task, sessions in train_sessions.items %}
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui top header">
                    {{ task }}
                </h3>
            </div>
            <div class="ui attached segment">
                <table class="ui selectable compact table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Model ID</th>
                        <th>Preprocessing</th>
                        <th>Processing</th>
                        <th>f1_score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                        <tr>
                            <td>{{ session.id }}</td>
                            <td>{{ session.model_id }}</td>
                            <td>{{ session.preprocessing }}</td>
                            <td>{{ session.processing }}</td>
                            <td>{{ session.f1_score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}